*{
    box-sizing: border-box;
}


body{
    font-family: "Karla", sans-serif;
    margin: 0;
}

Header{
    display: flex;
    padding: 20px;
    background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
}

.header-text{
    margin-left: 8.18px;
    color: #FFFFFF;
}

.form {
    display: grid;
    grid-template: 40px 40px / 1fr 1fr;
    gap: 17px;
    margin-top: 20px;
    margin-right: 20px;
    margin-left: 20px;
}

.form--input{
    border:1px solid #D5D4D8;
    border-radius: 5px;
}

.form--button{
    
    grid-column: 1 / -1;
    border:1px solid #D5D4D8;
    border-radius: 5px;
    background:linear-gradient(90deg, #672280 1.18%, #A626D3 100%);

    font-family: 'Karla';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;

    text-align: center;
    letter-spacing: -0.1em;
    color: #FFFFFF;


}

.meme--image {
    max-width: 100%;
    max-height: 700px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}